<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12 ">
      <app-chartjs-charts [jsonData]="data" [chartType]="barChart" [chartCanvas]="barcanvas"></app-chartjs-charts>
    </div>
    <div class="col col-md-12 ">
      <app-chartjs-charts [jsonData]="data" [chartType]="barChart" [chartCanvas]="linecanvas"></app-chartjs-charts>

    </div>
    <div class="col col-md-12 ">
      <app-chartjs-charts [jsonData]="data" [chartType]="barChart" [chartCanvas]="linebarcanvas"></app-chartjs-charts>
    </div>
  </div>
</div>