/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
@media screen and (max-width: 540px) {
  .chart__value {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }

  .chart__figure {
    flex-direction: column !important;
    height: auto !important;
  }
}